body{
    width: 1100px;
    margin: auto;
}
.my-mession1{
    overflow: hidden;
    height: 500px;
}
.image1 img {
    width: 499px;
    clip-path: circle();
    position: relative;
    margin-top: 118px;
}
.program{
    float: left;
    margin-left: 40px;
    margin-top: 100px;
    height: 300px;
}
h1 {
    font-size: 62px;
    font-family: ui-sans-serif;
}
p{
    width: 500px;
    font-size: 18px;
}
.p2{
    font-size: 22px;
}
h1::before {
    content: '';
    background: orangered;
    position: absolute;
    width: 6px;
    height: 148px;
    left: 225px;
    top: 153px;
}

.my-mession1{
    background-color: white;
}
.header{
    color: orange;
    font-size: 50px;
}


.button1 button {
    color: white;
    padding: 10px;
    font-size: 13px;
    width: 100px;
    background: orange;
    border-radius: 4px;
}
.him1 {
    font-size: 40px;
    width: 517px;
    font-family: ui-serif;
    margin: auto;
    margin-top: 92px;
}
.himoo{
   color:orangered; 
}
.him2 img {
    width: 150px;
    
}


.him2 {
    width: 330px;
    float: left;
    background-color: rgb(252, 240, 218);
    margin: 17px;
    border-radius: 11px;
    height: 340px;
}
.him11{
    
}
.him2 p {
    width: 300px;
  
}

.him2 h3 {
    font-size: 30px;
    padding-left: 20px;
}

.him2 p {
    font-size: 18px;
}
.him2 p {
    padding-left: 20px;
}
section{
    overflow: hidden;
    margin-bottom: 80px;
}
footer {
    background: black;

}

footer h1 {
    color: white;
    width: 250px;
    margin: auto;
    margin-top: px;
    font-size: 37px;
    font-family: monospace;
    padding-top: 21px;
}

footer span {
    color: orange;
}


footer p {
    color: white;
    font-size: 17px;
    width: 381px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 32px;
}

.part1 img {
    width: 500px;
    float: left;
}
.part2 {
    width: 509px;
    float: right;
    margin-top: 115px;
}
.part2 h2 {
    font-size: 42px;
    font-family: system-ui;
}

.part2 p {
    font-size: 18px;
    color: brown;
}

.part2 button {
    background: orange;
    border-radius: 4px;
    font-size: 18px;
    font-family: revert;
    padding: 5px;
}
.part3{
    width: 550px;
    float: left;
    margin-top: 111px;
}

img {
    width: 500px;
}
.part3 h2 {
    font-size: 37px;
    font-family: revert;
}

.part3 p {
    font-size: 18px;
    color: chocolate;
}

.part3 button {
    background-color: orange;
    font-size: 18px;
    border-radius: 6px;
    color: currentColor;
    padding: 5px;
}
.part5 {
    float: left;
}
.part6 {
    width: 505px;
    float: right;
    margin-top: 79px;
}
.part6 h2 {
    font-size: 44px;
    font-family: inherit;
}

.part6 button {
    background: aquamarine;
    color: black;
    font-size: 20px;
    padding: 7px;
    border-radius: 5px;
}
